* {
  margin: 0;
  padding: 0;
}
body {
  background: linear-gradient(to top right, #0a0a0a, #3a4452);
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 100vh;
}
.calc {
  width: 250px;
  height: 350px;
  border-radius: 20px;
  padding: 20px;
  border: 1px solid #a1d1b1;
  box-shadow: 10px 10px 10px #3a4452;
}
.inputBox {
  text-align: right;
  background: none;
  box-shadow: 0.1px 0.1px 5px #a1d1b1;
  width: 200px;
  color: #a1d1b1;
  padding: 20px;
  border-radius: 20px;
  border: none;
  font-size: 20px;
  color: white;
}

.btn {
  border: none;
  padding: 15px;
  margin-top: 10px;
  border-radius: 50%;
  width: 50px;
  color: beige;
  background-color: #1c2529;
  font-size: 15px;
  box-shadow: 2px 2px 5px #a1d1b1;
  transition: all 0.2s ease;
  cursor: pointer;
}
.btn:hover {
  box-shadow: 1px 1px 3px #fb7c14;
  transform: translateY(-2px);
}
.content {
  display: flex;
  justify-content: space-around;
}
input::placeholder {
  color: white;
}

.equal {
  background-color: #fb7c14;

  box-shadow: none;
}
.operator {
  color: #6dee0a;
}
